.ISelerman{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.ISelerman__form{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .InputSelerman{
        width: 60vw;
    }
  }