<section class="Options Opt">
    <button class="Options__button OptBt btnPrice">Preco</button>
    <button class="Options__button OptBt btnName">Nome</button>
    <div class="Optinos__div">
        <input class="Options__input Opt_inp" type="text">
        <img class="Options__img" src="" alt="">
    </div>
</section>

<section class="MainMoto">
    <div class="MainMoto__square">
        <!-- <div class="MainMoto__square__box">
            <img class="MainMoto__img" src="/motorcycleImg/1" alt="moto">
        </div>
        <h1 class="MainMoto__name">
            Moto
        </h1>
        <h2 class="MainMoto__preco">
            2000
        </h2> -->
    </div>
</section>