<section class="Selerman seler">
    <img class="Selerman__img" src="/selermanImg/1" alt="name">
    <div class="Selerman__div">
        <h1 class="Selerman__h1">name</h1>
        <h2 class="Selerman__h2">description</h2>
    </div>
</section>
<section class="Operator">
    <img class="Operator__img imgClick imgBack" src="https://cdn.iconscout.com/icon/free/png-256/back-arrow-1767531-1502435.png" alt="back">
    <img class="Operator__img imgClick imgDelete" src="https://www.svgrepo.com/show/21045/delete-button.svg" alt="delete">
    <img class="Operator__img imgClick imgAdd" src="https://static.thenounproject.com/png/953211-200.png" alt="add">
    <img class="Operator__img imgClick imgUpdate" src="https://img.icons8.com/ios/452/approve-and-update.png" alt="update">
</section>
<section class="MainMoto">
    <div class="MainMoto__square">
        <div class="MainMoto__square__box">
            <img class="MainMoto__img" src="/motorcycleImg/1" alt="moto">
        </div>
        <h1 class="MainMoto__name">
            Moto
        </h1>
        <h2 class="MainMoto__preco">
            2000
        </h2>
    </div>
</section>